.ArmActors {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin: 20px auto;

    &__Card {
  
        border-radius: 25px;
        overflow: hidden;
        position: relative;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        
    }
    &__image{
        overflow: hidden;
        img{
            width: 100%;
            object-fit: cover;
            object-position: top;
            height: 275px;
            display: block;
            transition: 300ms;
            &:hover{
                transform: scale(1.1);
            }
           
        }    
    }
    &__content{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 16px;
        ul{
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            font-size: 20px;
        }
    
    }
}