.Posts {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin: 0 auto;
  &__card {
    padding: 20px;
    background-color: #fff;
    flex: 0 1 40%;
    img {
      width: 260px;
    }
  }
}
