.Posts {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 96%;
  margin: 30px auto;
  &__cart {
    background-color: #f0f0f0;
    flex: 0 0 48%;
    padding: 12px;
    border-radius: 12px;
  }
  &__content {
    display: flex;
    gap: 14px;
    img {
      width: 350px;
    }
    p {
      flex-grow: 1;
      font-size: 18px;
    }
  }
  &__title {
    text-align: center;
    margin-bottom: 20px;
  }
}
