.Posts {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
  width: 96%;
  margin: 25px auto;
  &__cart {
    background-color: darkgray;
    width: 30%;
    padding: 12px;
    border-radius: 12px;
    height: 1125px;
    h2 {
      text-align: center;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    p {
      color: rgb(96, 95, 95);
    }
    img {
      width: 100%;
      border-radius: 12px;
    }
  }
  &__btn {
    background-color: cadetblue;
    padding: 0.6rem 1rem;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    margin-top: 25px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    align-self: start;
  }
}

.divide {
  flex-grow: 1;
  background-color: transparent;
  user-select: none;
  visibility: hidden;
  height: 100%;
}
