.Posts {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.Posts__container {
    width: 33%;
    margin: 5px;
    background-color: rgb(62, 228, 93);
}

.Posts__image {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.Posts__title {
    padding: 0 10px;
}

.Posts__description {
    padding: 10px;
}