.Posts {
  background-image: linear-gradient(to right, #00b09b, #96c93d);
  width: 100%;
  padding: 1em;
  margin: 50px auto;
  display: flex;
  justify-content: space-evenly;
  align-content: start;
  gap: 20px;
  flex-wrap: wrap;
}

.Posts__item {
  flex-basis: calc(50% - 20px);
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  color: #fff;
  padding: 1.4em;
}

.Posts__item span {
  cursor: pointer;
  color: #ff0404;
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}