:root{
  background-color: rgb(37, 37, 37);
  margin: 0 auto;
  width: 1320px;
}

.Users {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 50px 0;
  
  
  h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
  }

  &__formik {
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    

    >input {
      width: 100%;
      padding: 15px;
      border-radius: 6px;
      border: 0px;
      font-size: 15px;
    }
    
    .errorMessage {
      align-self: flex-start;
      padding: 0 10px;
      font-size: 18px;
      font-weight: 700;
      color: red;
    }
    
    a {
      color: white;
      align-self: flex-start;
      font-weight: 700;
    }
  }

  &__buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    input {
      width: 100%;
      padding: 10px 0;
      background-color: rgb(0, 94, 255);
      color: white;
      font-size: 20px;
      border: none;
      transition: 200ms;
      border-radius: 7px;

      &:hover {
        background-color: rgb(0, 82, 224);
      }
    }

    button {
      padding: 10px 0;
      font-size: 20px;
      border-radius: 7px;
      border: 2px solid rgb(66, 66, 66);
      background-color: #f1f1f1;
      width: 100%;
      transition: 200ms;

      &:hover {
        background-color: #dfdfdf;
      }
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
  }

  &__list {
    color: white;
    background-color: rgb(0, 140, 255);
    border-radius: 10px;
    display: flex;
    gap: 20px;
    font-size: 18px;
    padding: 10px 20px;
    list-style: none;
    
    span {
      font-weight: 700;
    }
  }
}