.ErrorPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 100px 40px;
  background-image: url('https://images.unsplash.com/photo-1600706843784-6f0ad251f52f?q=80&w=3028&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  height: 90vh;
  background-size: cover;
  background-position: top;
  color: black;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  a{
    margin-top: 10px;
    border: 3px solid black;
    padding: 5px 10px;
    border-radius: 8px;
    transition: 200ms;
    &:hover{
      background-color: white;
    }
  }
}