.buttons {
  display: flex;
  justify-content: space-evenly;
  background-color: grey;
  padding: 2em;
  margin: 150px auto;
  flex-wrap: wrap;
  gap: 20px;
  button {
    background-color: royalblue;
    padding: 12px 24px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
    &.active {
      transform: translateY(-4px);
      transition-delay: 0.1s;
      background-color: purple;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }
  }
}
