.App {
  width: 100%;
  min-height: 100vh;
  background-color: #101010;
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    width: 500px;
    color: orange;
    border: 8px solid #139947;
    padding: 1em;
    input {
      margin: 10px auto;
      width: 100%;
      padding: 12px;
      font-size: 20px;
    }
    .errors {
      display: flex;
      gap: 10px;
      flex-direction: column;
      &__box {
        background-color: rgb(184, 31, 72);
        color: #fff;
        padding: 4px 10px;
        font-weight: 700;
      }
    }
  }
}
