.container {
    margin: 20px auto;
    width: 400px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
}

Form {
    display: flex;
    flex-direction: column;
}
Form > input {
    margin: 7px 0;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.buttons input {
    
    border: 1px solid black;
    border-radius: 7px;
    width: 48%;
    cursor: pointer;
    background-color: blueviolet;
}

.buttons a {
    display: block;
    text-align: center;
    
    padding: 5px;
    border: 1px solid black;
    border-radius: 7px;
    width: 48%;
    height: 100%;
    background-color: green;
}