@font-face {
  font-family: fontchik;
  src: url(../fontchik.ttf);
}
.Nav {
  margin: 0 auto;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: $black;
  font-size: 22px;
  font-weight: 700;
  color: white;
  position: relative;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  h1 {
    position: absolute;
    font-family: fontchik;
    font-size: 150px;
    letter-spacing: 2px;
  }
}