.Video{
    h2{
        font-size: 35px;
        font-family: 'Vesper Libre', serif;
        font-style: italic;
        text-transform: uppercase;

        margin-bottom: 5px;

    }
text-align: center;
margin-top: 50px;

}