.Post {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: Bebas Neue;

    &__card {
        position: relative;
        width: 400px;
        height: 400px;

        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        button {
            position: absolute;
            inset: 180px 130px;
            opacity: 0;
            visibility: hidden;
            background-color: white;
            border: none;
            font-size: 22px;
            color: black;
            border-radius: 8px;
            cursor: pointer;
        }

        transition: 1100ms;
        perspective: 1200px;

        &:hover {
            transition: 1100ms;
            transform: translateZ(-1px) rotatey(-180deg);
            background: black;

            button {
                opacity: 1;
                transition-delay: 300ms;
                transform: translateZ(-1px) rotatey(-180deg);
                visibility: visible;
            }
        }

        &:hover .Post__content {
            opacity: 0;
        }

    }

    &__content {
        position: absolute;
        border: 7px solid rgb(255, 255, 255);
        inset: 15px;
        transition: 600ms;

        h2 {
            position: absolute;
            bottom: 20px;
            left: 20px;
            color: white;
            font-size: 40px;
            letter-spacing: 1px;
        }

        p {
            position: absolute;
            top: 15px;
            right: 20px;
            color: white;
            font-size: 40px;
        }
    }
}