$app-bg: linear-gradient(90deg, rgba(196,0,0,1) 0%, rgba(0,0,190,1) 100%, rgba(0,212,255,1) 100%);
$app-title-color: White;


.App{
  width: 1300px;
  margin: 0 auto;
  background: rgb(196,0,0);
  background: $app-bg;
  min-height: 560px;
  padding: 1em;
  &__title{
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    color: $app-title-color;
    transition: .3s;
    transition-delay: .1s;
    &:hover{
      letter-spacing: 2px;
      color: aliceblue;
      cursor: pointer;
    }
  }
}