* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1480px;
  margin: 0 auto;
}


a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

pre {
  white-space: pre-line;
  background-color: #1d1d1d;
  color: purple;
  padding: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  border-radius: 10px;
}