* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  max-width: 1480px;
  margin: 0 auto;
  background-color: #1d1d1d;
}


a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}