:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Azonix Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Azonix Regular'), url('./Azonix.woff') format('woff');
}

@font-face {
  font-family: 'Maximum Impact Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Maximum Impact Regular'), url('Maximum Impact.woff') format('woff');
}

@font-face {
  font-family: 'horrorfont';
  src: url('./horrorfont.ttf');
}

body {}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}