.App {
  width: 96%;
  padding: 1em;
  margin: 0 auto;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  & > div {
    width: 240px;
    height: 200px;
    padding: 12px;
    border-radius: 6px;
    background-color: #ccc;
  }
}
