.Todos {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    flex-wrap: wrap;
    font-family: 'Righteous', sans-serif;
    &__content{
        padding-top: 20px;
    }

    &__card {
        width: 350px;
        padding: 12px;
        margin: 0 auto;
        background: #c31432;
        background: -webkit-linear-gradient(to right, #240b36, #c31432);
        background: linear-gradient(to right, #240b36, #c31432);
        color: aliceblue;
        overflow: hidden;
        border-radius: 10px;
        margin-top: 20px;
        height: 250px;
        position: relative;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        h2{
            text-transform: uppercase;
        }

        &.true {
            border-left: 7px solid green;
        }

        &.false {
            border-left: 7px solid red;
        }

        span {
            position: absolute;
            right: 10px;
            top: 10px;
            background-color: wheat;
            color: rgb(56, 10, 10);
            width: 27px;
            height: 27px;
            border-radius: 50%;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;


        }

    }
}