.Forms {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
  padding: 0 30px;
  width: 100%;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;

    input {
      padding: 5px;
      font-size: 20px;
      border-radius: 10px;
    }

    select {
      font-size: 20px;
      border-radius: 10px;
      padding: 5px;
    }
  }

  &__products {
    width: 50%;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    gap: 15px;
    overflow: auto;
    border: 2px solid black;
    border-radius: 20px 0 0 20px;
  }

  &__box {
    min-height: 145px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
  }
}